
<div class="container-sm-height">
    <div class="row row-sm-height">
        <div class="col-sm-8 right-border col-sm-height">
            @Html.Partial("_PostList", Model.DocumentList(Keys.PageDocuments).OrderByDescending(x => x.Get<DateTime>(BlogKeys.Published)))

            <nav>
                <ul class="pager">
                    <li class="previous">                
                        @if(Model.Bool(Keys.HasPreviousPage))
                        {
                            <a href="@(Context.GetLink(Model.Document(Keys.PreviousPage)))"><span aria-hidden="true">&larr;</span> Newer</a>
                        }                
                    </li>
                    <li class="next">
                        @if(Model.Bool(Keys.HasNextPage))
                        {
                            <a href="@(Context.GetLink(Model.Document(Keys.NextPage)))">Older <span aria-hidden="true">&rarr;</span></a>
                        }
                    </li>
                </ul>
            </nav>
            <hr class="visible-xs-block" />
        </div>
		
       
    </div>
</div>