@model string[]
<!--[0]type of translation  -->
@{
    if(Model[0]=="localization_languagePacks")
    {
    // [1] language to make link; [2]current link; [3]current lang 
        var link = Context.GetLink(Model[2]).Replace( "/"+Model[3]+"/","/"+Model[1]+"/");
        var flag_class = Model[1] + "-flag";
         <a href="@link"><img class="@flag_class"/></a>
    }
    
}