@model IEnumerable<string>
@{
var Tags = Model;
//var Documents = Model.Item2;

}

    @if (Tags != null)
    {
        <div class="tags">
            @{
                var isFirst = true;
            }
            @foreach (string tag in Tags)
            {
                IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag) == tag && x.Get<int>(Keys.CurrentPage) == 1);
                if(tagDocument != null)
                {      
                    if(isFirst)
                    {

                        isFirst= false;
                          <a role="button" href="@Context.GetLink(tagDocument)" class="btn btn-default btn-xs btn-technology">@tag</a>
                    } 
                    else
                    {
                    <a role="button" href="@Context.GetLink(tagDocument)" class="btn btn-default btn-xs">@tag</a>
                    }
                }
            }
        </div>     
    } 
              